/* Colours:
#1b262c
#0f4c75
#3282b8
#bbe1fa
 */

body {
    color: #fff;
    background-color: #202040;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    background-color: #1a1a33;
    position: relative;
    max-width: 600px;
    left: 50%;
    transform: translate(-50%);
}

.mainHeading {
    text-align: center;
    font-weight: 800;
    padding: 10px;
}
#game {
    background-color: #fff;
    position: relative;
    max-width: 500px;
    height: 500px;
    left: 50px;
}

#settings {
    padding: 20px 0;
}

.options {
    text-align: left;
    display: block;
    margin: 15px 50px;
}

.start {
    text-align: center;
    margin: 30px;
}


/* Game styles: */
/* 10x10 */
.cells1 {
    width: 48px;
    height: 48px;
    border: 1px solid;
    float: left;
}

/* 20x20 */
.cells2 {
    width: 24px;
    height: 24px;
    border: 0.5px solid;
    float: left;
}

/* 50x50 */
.cells3 {
    width: 10px;
    height: 10px;
    float: left;
}

/* 100x100 */
.cells4 {
    width: 5px;
    height: 5px;
    float: left;
}

/* 250x250 */
.cells5 {
    width: 2px;
    height: 2px;
    float: left;
}
.infected {
    background-color: #c70039;
}

.healthy {
    background-color: #43d8c9;
}
